{% load static %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" crossorigin="anonymous">
</head>
<body class="container">
    <h1 class="display-4 text-primary">{{title}}</h1>
    <p>{{msg}}</p>
    <form action="{% url 'editmember' id %}" method="POST">
    {% csrf_token %}
    <table class="table">
        <tr><th>氏名</th><td>{{form.name}}</td></tr>
        <tr><th>氏名(カナ)</th><td>{{form.kana}}</td></tr>
        <tr><th>メールアドレス</th><td>{{form.mail}}</td></tr>
        <tr><th>電話番号</th><td>{{form.tel1}}</td></tr>
        <tr><th>電話番号(個人)</th><td>{{form.tel2}}</td></tr>
        <tr><th>勤務先</th><td>{{form.organization}}</td></tr>
        <tr><th>役職</th><td>{{form.position}}</td></tr>
        <tr><th>パスワード:<td>
            <input type="text" name="chkpass" value={{password}} class="form-control" required id="id_chkpass" readonly="readonly">
        </td></th></tr>
        <tr><th></th><td>
            <input type="submit" value="更新" class="btn btn-primary mt-2">
            <button type="button" onclick="history.back()" class="btn btn-primary mt-2">戻る</button>
        </td></tr>
    </table>
    </form>
</body>
</html>