{% load static %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" crossorigin="anonymous">
</head>
<body class="container">
    <h1 class="display-4 text-primary">{{title}}</h1>
    <form action="{% url 'listmember' %}" method="POST" class="form-inline">
    {% csrf_token %}
    {{ form }}
        <input type="submit" value="click" class="btn btn-primary mt-2">
    </form>
    <table class="table">
        <tr>
            <td></td><td></td>
            <td><a href="{% url 'addfromcsv' %}">CSV取込</a></td>
        </tr>
        <tr><th>EMail</th><th>Date</th><th>承認</th><td></td></tr>
    {% for item in data %}
        <tr>
            <td>{{item.mail}}</td>
            <td>{{item.time}}</td>
            <td>
                {% if item.approval == True%}
                承認済
                {% else %}
                未承認
                {% endif %}
            </td>
            <td>
                {% if item.approval == True%}
                <a href="{% url 'editmember' item.id %}">更新</a>　
                <a href="{% url 'delmember' item.id %}">削除</a>
                {% else %}
                <a href="{% url 'addapproval' item.id %}">承認</a>　
                <a href="{% url 'delmember' item.id %}">削除</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>